*, a, p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1, h2, h3 {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
