.contact {
  padding-top: 147px;

  @media screen and (max-width:992px) {
    padding-top: 53px;
  }

&-title {
  margin-bottom: 45px;
  margin-left: 260px;
  color: #292929;
  font-family: Arial;
  font-size: 80px;
  line-height: 90px;

  @media screen and (max-width:992px) {
    margin-bottom: 0;
    margin-left: 32px;
    font-size: 60px;
  }
}
}